/* Box on left of screen for holding information */
#Campus_Info {
  float: left;
  display: inline-block;
  width: 280px;
  height: 98%;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#campus_info--content {
  text-align: left;
}

#map {
  display: flex;
  width: auto;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;

}

.page-content {
  height : 98vh;
  width : 100%;
}

#cru_logo {
  height:125px;
  margin-bottom: 15px;
}

.loader {
  position: absolute;
  top: 20%;
  left: 50%;
  background: gray;
  border: 1px solid #444;
  padding: 10px 22px;
  color: white;
  font-size: 2em;
}

.loader .mdl-spinner {
  margin-right: 16px;
}
